*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: #F0584A;
}

.projectNav{
  display: flex;
  list-style-type: none;
  font-size: 1.25rem;
  font-family: Roboto, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  margin: 0 25px 0 25px;
  padding: 0 25px 0 25px;

}

.projectNav li{
  margin: 0 40px 0 40px;

}

.contactForm{
  background:linear-gradient(to bottom right, #EC574A, #D35347);
  width: 20%;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  font-family: 'roboto', sans-serif;
  box-shadow:
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}
.contactForm input, textarea{
  border: none;
  border-radius: 3px;
  margin: 2px;
  padding: 2px;
  display: flex;
}


.projectContainer{
  display: flex;
}

.projectList{
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.projectList img{
  border-radius: 5px;
  width: 20rem;
}



